.main {
  background-color: var(--dark-blue);
  color: #f4c095;
  font-family: "Poppins", sans-serif;

  .hero {
    background-color: var(--color-background);
    min-height: 100vh;
  }

  .presentation {
    position: absolute;
    font-size: 4rem;
    left: 200px;
    top: 200px;
  }

  .menu {
    position: absolute;
    font-size: 4rem;
    left: 200px;
    width: 500px;
    top: 200px;

    .option {
      list-style: none;
      border-radius: 15px;
      padding: 20px;
    }

    .option:hover {
      cursor: pointer;
      color: #363636;
      animation-name: colorful;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes colorful {
  0% {
    background-color: #7899d4;
  }
  25% {
    background-color: #afc43c;
  }
  50% {
    background-color: #f7091d;
  }
  75% {
    background-color: #7edcf8;
  }
  100% {
    background-color: #ace708;
  }
}

@keyframes hideMenu {
  from {
    left: 700px;
    opacity: 1;
  }
  to {
    right: 0px;
    opacity: 1;
    color: rgb(17, 16, 16);
  }
}

@keyframes showMenu {
  from {
    left: 1000px;
    opacity: 0;
    color: rgb(17, 16, 16);
  }
  to {
    left: 200px;
    opacity: 1;
    color: #f4c095;
  }
}

@keyframes showPresentation {
  from {
    left: -1000px;
    opacity: 0;
    color: rgb(17, 16, 16);
  }
  to {
    left: 200px;
    opacity: 1;
    color: #f4c095;
  }
}

@keyframes hidePresentation {
  from {
    left: 200px;
    opacity: 1;
  }
  to {
    left: -1000px;
    opacity: 0;
    color: rgb(17, 16, 16);
  }
}

.presentationShow {
  animation-duration: 4s;
  animation-name: showPresentation;
}

.presentationHide {
  animation-duration: 4s;
  animation-name: hidePresentation;
  animation-fill-mode: forwards;
}

.menuShow {
  animation-name: showMenu;
  animation-duration: 4s;
}

.menuHide {
  animation-name: hideMenu;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
