.main {
  background-color: var(--dark-blue);
  color: var(--light-pink);
  font-family: var(--ff-primary);
  width: 100%;
  position: relative;

  .hero {
    background-color: var(--color-background);
    min-height: 100vh;
    position: relative;
    top: 5em;
    width: 100%;
    font-size: 2rem;
  }

  .presentation {
    position: absolute;
    left: 5em;

    @media (max-width: 812px) {
      font-size: 0.8rem;
      left: 2em;
      top: 2em;
    }
  }

  .menu {
    position: absolute;
    left: 5em;
    width: 80%;

    @media (max-width: 812px) {
      left: 0.5em;
      top: 2em;
      font-size: 1rem;
      width: 20rem;
    }

    .option {
      list-style: none;
      border-radius: 1rem;
      padding: 1.3em;
    }

    .option:hover {
      cursor: pointer;
      color: #363636;
      animation-name: colorful;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes colorful {
  0% {
    background-color: #7899d4;
  }
  25% {
    background-color: #afc43c;
  }
  50% {
    background-color: #f7091d;
  }
  75% {
    background-color: #7edcf8;
  }
  100% {
    background-color: #ace708;
  }
}

@keyframes hideMenu {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(10%);
    opacity: 0;
    color: rgb(17, 16, 16);
    display: none;
  }
}

@keyframes showMenu {
  from {
    transform: translateX(10%);
    opacity: 0;
    color: rgb(17, 16, 16);
  }
  to {
    transform: translateX(0%);
    opacity: 1;
    color: #f4c095;
  }
}

@keyframes showPresentation {
  from {
    transform: translateX(-100%);
    opacity: 0;
    color: rgb(17, 16, 16);
  }
  to {
    transform: translateX(0%);
    opacity: 1;
    color: #f4c095;
  }
}

@keyframes hidePresentation {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
    color: rgb(17, 16, 16);
    display: none;
  }
}

.presentationShow {
  animation-duration: 2s;
  animation-name: showPresentation;
  animation-fill-mode: forwards;
}

.presentationHide {
  animation-duration: 1s;
  animation-name: hidePresentation;
  animation-fill-mode: forwards;
}

.menuShow {
  animation-name: showMenu;
  animation-duration: 2s;
}

.menuHide {
  animation-name: hideMenu;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;

  @media (max-width: 812px) {
    margin-left: 20px;
  }
}
