.skills::before {
  content: "<";
}

.skills::after {
  content: ">";
}

.main {
  padding: 1.5em 0em 1.5em;
  min-height: 100vh;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #679289;
  position: relative;

  // .skills {
  //   position: absolute;
  // }

  // .up {
  //   top: 90px;
  // }

  // .down {
  //   bottom: 20px;
  // }

  @media (max-width: 812px) {
    font-size: 1rem;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  width: 80%;

  .list {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 3rem;
    list-style: none;
    margin-left: 2em;

    @media (max-width: 812px) {
      font-size: 1rem;
    }
  }

  .redirect {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .option {
      padding: 1em 1.5em;
      border: 1px solid var(--red);
      box-shadow: 2px 2px var(--red);
      cursor: pointer;
    }
  }
}
