.redirect {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .option {
    padding: 1em 1.5em;
    border: 1px solid var(--red);
    box-shadow: 2px 2px var(--red);
    cursor: pointer;
  }
}
